name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Where Am I??
      run: pwd && ls
    - name: Check npm
      run: |
        npm
        npm v
