name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install sfdx-cli
      run: npm install sfdx-cli
    - name: Run DX
      run: node_modules/sfdx-cli/bin/run --version

        
