name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: docker://salesforce/salesforcedx
    - name: Where Am I??
      run: pwd
    - name: Test SDFX
      run: |
        sfdx
        sfdx update
