name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install sfdx-cli
      run: npm install sfdx-cli
    - name: Check sfdx bin
      run: cd node_modules/salesforcedx/commands && ls
        
