name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Check sfdx bin
      run: |
        npm install sfdx-cli
        cd node_modules/salesforcedx/lib && ls
        
