name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install sfdx-cli
      run: npm install sfdx-cli
#     - name: TestDX
#       run: node_modules/salesforcedx --version
#     - name: Run sfdx
#       run: sfdx --version
    - name: where am I?
      run: cd node_modules && ls
        
